name: Scala CI

on:
  push:
    tags-ignore:
      - "v*"
    branches:
      - "master"
  pull_request:
    branches: [master]
  workflow_dispatch:
jobs:
  build:
    name: build, test, and website
    runs-on: ubuntu-latest   
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@b1de5da23ed0a6d14e0aeee8ed52fdd87af2363c
      - name: Set up JDK 23
        uses: actions/setup-java@v5
        with:
          java-version: "23"
          distribution: "zulu"
          cache: sbt
      - name: Install sbt
        uses: sbt/setup-sbt@1cad58d595b729a71ca2254cdf5b43dd6f42d4bb
      - name: Run tests crosscompile
        run:  sbt + pravega/test      
      - name: Build website
        run:  sbt website

          