name: QA Reports


on:
  pull_request:
    types: [ready_for_review, synchronize]
    branches: [master]
    paths:
      - '**/*.sbt'
      - 'modules/**'
jobs:
  reports:
    permissions: 
      pull-requests: read

    if: github.ref_name == 'master' || ! ( github.event.sender.login == 'renovate' || github.event.pull_request.draft)
    environment: Codecov
    runs-on: ubuntu-latest   
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up JDK 23
        uses: actions/setup-java@v5
        with:
          java-version: "23"
          distribution: "zulu"
          cache: sbt
      - name: Install sbt
        uses: sbt/setup-sbt@1cad58d595b729a71ca2254cdf5b43dd6f42d4bb
      - name: Run coverage test
      # Scala 3 is not fully supported for coverage yet
        run: sbt "++ 3; coverage; test; coverageReport; coverageAggregate"
      - name: "Upload coverage to Codecov"
        uses: "codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de"
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
      - name: SonarCloud scan 
        uses: sonarsource/sonarqube-scan-action@dcc5211de53084482f1c6779dda263459f5274f6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
