name: QA Reports

permissions: 
  pull-requests: read

on:
  pull_request:
    types: [ready_for_review, synchronize]
    branches: [master]
    paths:
      - '**/*.sbt'
      - 'modules/**'
jobs:
  reports:
    if: github.ref_name == 'master' || ! ( github.event.sender.login == 'renovate' || github.event.pull_request.draft)
    environment: Codecov
    runs-on: ubuntu-latest   
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up JDK 23
        uses: actions/setup-java@v5
        with:
          java-version: "23"
          distribution: "zulu"
          cache: sbt
      - name: Install sbt
        uses: sbt/setup-sbt@v1    
      - name: Run coverage test
      # Scala 3 is not fully supported for coverage yet
        run: sbt "++ 2.13; coverage; test; coverageReport; coverageAggregate"
      - name: "Upload coverage to Codecov"
        uses: "codecov/codecov-action@v5"
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
      - name: SonarCloud scan 
        uses: sonarsource/sonarqube-scan-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
