#
# This woorflow publishes the website to GitHub Pages.
# It is triggered on pushes to the master branch and the website branch.
# The project version is determined by the latest tag.
#
# This workflow allows to deploy the website documentation to GitHub Pages, skipping
# the CI build. 
#
name: Website
on:
  push:
     branches:
       - "master"
       - "website"


# # Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true


jobs:
  website:
    # Sets the GITHUB_TOKEN permissions to allow deployment to GitHub Pages
    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Fetch tags
        run: git fetch --prune --unshallow --tags
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - name: Set up JDK 22
        uses: actions/setup-java@v5
        with:
          java-version: '22'
          distribution: 'zulu'
          cache: sbt
      - name: Install sbt
        uses: sbt/setup-sbt@1cad58d595b729a71ca2254cdf5b43dd6f42d4bb
      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@b1de5da23ed0a6d14e0aeee8ed52fdd87af2363c
      - run: VERSION=`git describe --tags --abbrev=0 | sed "s/v//"` sbt website
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          # Upload dist repository
          path: "target/site"

    # Deploy job
  deploy:
    
    # Add a dependency to the build job
    needs: website

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4 
